@font-face {
    font-family: tajawal;
    src: url('/assets/fonts/Tajawal/Tajawal-Regular.ttf');
    font-display: swap;
}
html {overflow-x:hidden}
head {overflow-x:hidden !important}
html,
body
{
    font-family: 'tajawal' !important;
}
[dir=rtl] body, [dir=rtl] html {
    font-family: 'tajawal', sans-serif !important;
}
*:not(i) {
    font-family: 'tajawal', sans-serif !important;
}
.section1-text1 {
    font-family: 'tajawal', sans-serif !important;
    letter-spacing: 0 !important;
}
.section1-text2 {
    font-family: 'tajawal', sans-serif !important;
    letter-spacing: 0 !important;
    margin-bottom: 60px !important;
}
.top-nav-light .top-menu li a {
    letter-spacing: 0 !important;
}
h2 {
    font-family: 'tajawal', sans-serif !important;
}
.why-item-link-text {
    font-family: 'tajawal', sans-serif !important;
    letter-spacing: 0 !important;
    font-size: 14px !important;
}
.why-item-link svg {
  transform: rotate(180deg);
}
.service-item-name,
.service-item-name-simple,
.why-block .why-item-name,
.why-item-name,
.why-item-text,
.service-top-left h1.service-top-header span.service-top-text,
.holistic-block h3,
.holistic-block h4,
.video-block p,
.support-search-details,
.support-contact-item-text,
.support-contact-item-link,
.support-drop-message-office-name,
.news-categories-item-text,
.section1-text-btn,
.top-nav-light .top-menu.dark li a,
.top-nav-light .top-menu.dark li a,
.numbers-block-item-number,.btn,
.contacts-block-text2{
    font-family: 'tajawal', sans-serif !important;
}
.btn.btn-outline,
.holistic-text-block,
.input-field-label,
.text-block h2,
.top-notification{
    font-family: 'tajawal', sans-serif !important;
}
.service-top-header,
.holistic-text-block h2, .why-name-block {
    font-family: 'tajawal', sans-serif !important;
}
.holistic-block-text {
    font-family: 'tajawal', sans-serif !important;
}
.service-item-text,
.numbers-block-2,
.top-menu li a,
.service-item-text-simple {
    font-family: 'tajawal', sans-serif !important;
}
.service-item-text-simple {
    text-align: right;
}
.download-text1,
.download-text2{
    font-family: 'tajawal', sans-serif !important;
}

.contacts-block-text1,
.contacts-block-col-link,
.contacts-block-col-text,
.textarea-label,
.numbers-block-item-descr{
    font-family: 'tajawal', sans-serif !important;
}

.links-block-link, .links-block-name {
    font-family: 'tajawal', sans-serif !important;
}
.footer-block-name {
    font-family: 'tajawal', sans-serif !important;
}
.footer-block-second-text-copy {
   font-family: 'tajawal', sans-serif !important;
}
.footer-block-link {
    font-family: 'tajawal', sans-serif !important;
}
.top-submenu-sub {
    left: 182px !important;
    right: 200px !important;
    top: 10px !important;
}
.top-menu-flag-list .top-submenu.top-submenu-short {
    left: -235px;
}
.arrow-nav-font {
    transform: rotate(180deg);
}

@media screen and (max-width: 600px){
    .topnav.responsive a {
        text-align: right !important;
    }
    .topnav.responsive .dropdown .dropbtn {
        text-align: right !important;
    }
}

.flickity-prev-next-button.next {
    right: 6px;
    opacity: 0.9;
    display: none !important;
}
.flickity-prev-next-button.previous {
    left: -12px;
    display: block !important;
}
.type-cat .previous,
.type-two .previous {
     display: block !important;
}
@media only screen and (min-width: 768px){
    .blog-container {
        position: absolute;
        right: 17% !important;
        left: unset !important;
        top: 41%;
    }
}
@media (max-width: 768px){
    .news-categories-item {
        /*width: calc(50% - 32px);*/
        margin-right: 1px !important;
        margin-bottom: 1px !important;
    }
}
@media (max-width: 420px){
    .service-item-img-simple {
        max-width: 160px;
    }
    .services-slider-block {
        margin-bottom: 58px !important;
    }
}
@media (max-width: 768px){
    .services-slider-block {
        margin-bottom: 58px !important;
    }
}
.logo {
    margin-right: 1px;
}
.section1-search-input {
    margin-right: 25px !important;
    padding: 1px !important;
}
@media (max-width: 420px) {
    .section1-search-input {
        margin-right: 1px !important;
    }
}
@media (max-width: 1024px) {
    .service-content-main-btn {
        margin-bottom: 60px;
        margin-right: -10px !important;
    }
}
.section1-search-icon {
    visibility: hidden !important;
}

@media (min-width: 1024px) {
    .slider-margin {
        margin: 30px -8px 30px 40px;
    }
}
